/* @import url("./bootstrap/dist/css/bootstrap.min.css"); */

/* @import url("./bootstrap/dist/js/bootstrap.bundle.js");
 */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #16161a;
  font-family: 'Roboto Mono', monospace !important;
}

nav {
  background-color: purple;
}

.navbar-brand {
  color: purple;
  animation: logo 7s linear infinite;;
}



#hero {
-webkit-box-shadow: inset 7px 11px 137px -39px rgba(232,23,232,1);
-moz-box-shadow: inset 7px 11px 137px -39px rgba(232,23,232,1);
box-shadow: inset 7px 11px 137px -39px rgba(232,23,232,1);
}


.hello {
  color: #7f5af0;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
}

.fa-brands {
  transition: 0.5s cubic-bezier(0, 0.4, 0.4, 0.49);
}


.fa-brands:hover {
  color: blueviolet;
  cursor: pointer;
  transform: scale(1.2);
}

@keyframes logo {
  0% {
  
    color: purple;
  }

  100% {
    color: white;
  
  }
}
 .navbar-toggler-icon {
  
}





